.dialogContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 100% !important;
    flex-direction: column;
    canvas{
      width: 100%;
      height: 50vh;
    }
}

.image-default{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__inner{
    width: 100%;
    display: flex;
    align-items: center;

    &__button{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      border-radius: 100px;
      background-color: #DC9B49;
      color: white;
      cursor: pointer;
    }
  }
}